<div class="text-center"><h1>Danh sách sản phẩm</h1></div>
<div class="row">
  <div class="col-lg-9"></div>
  <div class="d-flex my-2 col-lg-3" role="search">
    <input class="form-control me-2" type="text" placeholder="Nhập tên.." aria-label="Search"
           [(ngModel)]="productNameSearch">
    <button class="btn btn-light btn-outline-primary"(click)="searchByMore()">
      search</button>
  </div>
</div>
<div *ngIf="product != null">
  <table class="table table-bordered table-hover">
    <thead>
    <tr class="bg-info text-center">
      <th>STT</th>
      <th>Tên</th>
      <th>Giá</th>
      <th>Mô tả</th>
      <th>Danh mục</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of product; index as i">
      <td>{{i + 1}}</td>
      <td><a routerLink="/product/detail/{{product.id}}">{{product.name | titlecase}}</a></td>
      <td>{{product.price | currency}}</td>
      <td class="text-center">{{product.description | titlecase}}</td>
      <td class="text-center">{{product.category.name | titlecase}}</td>
      <td class="text-center"><a routerLink="/product/edit/{{product.id}}">Edit</a></td>
      <!--      <td><a routerLink="/product/delete/{{product.id}}">Delete</a></td>-->
      <!--      <td><a href="javascript: void()" (click)="onDelete(product.id,product.name)">Delete</a></td>-->
      <td class="text-center">
        <button data-bs-toggle="modal" data-bs-target="#deleteProduct"
                class="btn btn-danger btn-outline-secondary btn-sm"
                (click)="getInfoProductDelete(product.name, product.id)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive" viewBox="0 0 16 16">
            <path d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal fade" id="deleteProduct" tabindex="-1" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modalCSS">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel1">Bạn có chắc chắn muốn xóa?</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <span class="h6">Khách hàng:</span><strong class="text-danger ps-2">{{productNameDelete}}</strong>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteProduct()">Xóa</button>
      </div>
    </div>
  </div>
</div>
