<div class="text-center" id="listCustomer"><h1>Customer List</h1></div>
<div class="row">
  <div class="col-lg-9"></div>
  <div class="d-flex my-2 col-lg-3" role="search">
    <input class="form-control me-2" type="text" placeholder="Nhập tên.." aria-label="Search"
           [(ngModel)]="customerNameSearch">
    <button class="btn btn-light btn-outline-primary search" (click)="searchByName()">
      search
    </button>
  </div>
</div>
<table class="table-bordered table table-striped" id="customerTable">
  <thead>
  <tr class="bg-success">
    <th>#</th>
    <th>Name</th>
    <th>Date Of Birth</th>
    <th>Gender</th>
    <th>Id Card</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th>Address</th>
    <th>Customer Type</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let c of customer, index as i">
    <td>{{i + 1}}</td>
    <td>{{c.name | titlecase}}</td>
    <td>{{c.dateOfBirth}}</td>
    <td>{{c.gender}}</td>
    <td>{{c.idCard}}</td>
    <td>{{c.phoneNumber}}</td>
    <td>{{c.email}}</td>
    <td>{{c.address}}</td>
    <td>{{c.customerType.name}}</td>
    <td class="text-center">
      <button data-bs-toggle="modal" data-bs-target="#deleteCustomer"
              class="btn btn-danger"
              (click)="getInfoProductDelete(c.name, c.id)">
        Delete
      </button>
    </td>
    <td routerLink="/customer/edit/{{c.id}}">
      <button class="btn btn-success">Edit</button>
    </td>
  </tr>
  </tbody>
</table>

<div class="modal fade" id="deleteCustomer" tabindex="-1" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modalCSS">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel1">Bạn có chắc chắn muốn xóa?</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <span class="h6">Khách hàng:</span><strong class="text-danger ps-2">{{customerNameDelete}}</strong>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteCustomer()">Xóa</button>
      </div>
    </div>
  </div>
</div>
