<div class="text-center text-light" id="header">
  <button class="btn btn-success" id="button"><h1>Create facility</h1></button>
</div>
<div><a href="http://localhost:63342/case_study/service/list_facility.html" class="text-light"><i
  class="fa-sharp fa-solid fa-house-user"></i>Back To Facility
  List</a></div>
<div id="form" >
  <form>
    <input type="hidden"/>
    <div id="facilityType">
      <label><b>Choose Service</b></label>
      <select>
        <option>Villa</option>
        <option>House</option>
        <option>Room</option>
      </select>
    </div>
    <div id="name">
      <label><b>Facility Name</b></label>
      <input type="text"/>

    </div>
    <div id="area">
      <label><b>Area</b></label>
      <input type="text"/>

    </div>
    <div id="cost">
      <label><b>Cost</b></label>
      <input type="number"/>

    </div>
    <div id="maxPeople">
      <label><b>Max People</b></label>
      <input type="number"/>

    </div>
    <div id="standardRoom">
      <label><b>Standard Room</b></label>
      <input type="text"/>

    </div>
    <div id="description">
      <label><b>Description Other Convenience</b></label>
      <input type="text"/>

    </div>
    <div id="poolArea">
      <label><b>Pool Area</b></label>
      <input type="text"/>

    </div>
    <div id="numberOfFloor">
      <label><b>Number Of Floors</b></label>
      <input type="number"/>

    </div>
    <div id="facilityFree">
      <label><b>Facility Free</b></label>
      <input type="text"/>

    </div>

    <div id="rentType">
      <label><b>Rent Type</b></label>
      <select>
        <option>....</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    <input id="save" type="submit" value="Save"/>
  </form>
</div>
