

<div class="text-center text-light" id="headerCustomer" >
  <button class="btn btn-success" id="button"><h1>Edit Customer</h1></button>
</div>
<div><a href="#" class="text-light"><i class="fa-sharp fa-solid fa-house-user"></i>Back To Customer
  List</a></div>
<div id="form" >
  <form>
    <input type="hidden" value="1"/>
    <div>
      <label><b>Customer Name</b></label>
      <input type="text" value="Nguyễn Văn Phúc"/>
    </div>
    <div>
      <label><b>Date Of Birth</b></label>
      <input type="text" value="05/12/1998"/>

    </div>
    <div>
      <label><b>Gender</b></label>
      <input value="Male" type="text">
    </div>
    <div>
      <label><b>Id Card</b></label>
      <input type="text" value="187658129"/>
    </div>
    <div>
      <label><b>Phone Number</b></label>
      <input type="number"value="0326820571"/>

    </div>
    <div>
      <label><b>Email</b></label>
      <input type="email" value="nguyenvanphuca9999@gmail.com"/>
    </div>
    <div>
      <label><b>Address</b></label>
      <input type="text" value="Quang Thanh, Yen Thanh, Nghe An"/>

    </div>
    <div>
      <label><b>Customer type</b></label>
      <input type="text" value="Diamond">
    </div>
    <div class="text-center">
      <input id="edit" type="submit" value="Edit"/>
    </div>
  </form>
</div>
