#header{
  background-color: #cccccc;
  height: 100px;
  position: fixed;
  margin-left: 0;
}
#img{
  margin: 30px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.navbar{
  margin-top: 100px;
}
#home{
  margin: 0 30px;
  padding: 0;
}


