
<div class="text-center text-light"id="header">
  <button class="btn btn-success" ><h1>Add New Contract</h1></button>
</div>
<form id="form" class="border border-2 border-success p-3 rounded formCSS" style=" background-color: #afd3f3; }"
      method="POST">
  <p class="text-center">
    <a href="#">
      <i class="fa-solid fa-backward"></i> Back to Contract list</a>
  </p>
  <div class="form-group">
    <div class="form-group">
      <label>Service name:</label>
      <div class="input-group">
        <select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>
    </div>

    <div class="mt-3 form-group">
      <label class="h6">Employee Name:</label>
      <div class="input-group">
        <select>
          <option>A</option>
          <option>B</option>
          <option>C</option>
        </select>

      </div>
    </div>

    <div class="form-group">
      <label class="h6">Customer Name:</label>
      <div class="input-group">
        <select>
          <option>D</option>
          <option>E</option>
          <option>F</option>
        </select>

      </div>
    </div>

    <div class="mt-3 form-group">
      <label for="startDate" class="h6">Start Day:</label>
      <input type="date" id="startDate" class="form-control"
             onchange=" changeEndDate(this)" required
             pattern="^(19|20)\d{2}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[0-1])$"
             title="Vui lòng chọn ngày bắt đầu."/>
    </div>

    <div class="mt-3 form-group" id="endDateForm" style="display: none">
      <label for="endDate" class="h6">End Day:</label>
      <input type="date" id="endDate" class="form-control" required
             pattern="^(19|20)\d{2}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[0-1])$"
             title="Vui lòng chọn ngày kết thúc."/>
    </div>

    <div class="mt-3 form-group">
      <label for="deposit" class="h6">Deposits (VNĐ):</label>
      <div class="input-group">
        <input type="number" id="deposit" class="form-control"
               placeholder="Nhập tiền đặt cọc..." required
               pattern="^0|[1-9]\d*$"
               title="Tiền đặt cọc (VNĐ) phải là số nguyên lớn hơn hoặc bằng 0."/>
      </div>
    </div>
  </div>
  <div style="margin-left: 45%">
    <button type="submit" class="btn btn-primary" value="delete">Save</button>
  </div>
</form>


